<table style="border: solid 1px darkgray; margin-left:10mm; margin-right:10mm; margin-bottom:2mm;" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="width:33mm; border-right: none; text-align: center; background-color: #a2d3ca;">
      <img src="{{logo}}" style="width:30mm; padding:5mm"/>
    </td>
    <td style="">
      <div style="padding:5mm; text-align:right; font-size:11px;">
        <b>Cuota:</b> {{cuota}} <br/><b>Vencimiento:</b> {{fecha}}
      </div>
      <div style="padding:0 5mm 0 5mm; text-align:justify; font-size:10px;">
        <p>HOY _ _ _ _ _ DE _ _ _ _ _ _ _ _ _ _ _ _ _ _ DE _ _ _ _ _ _ _ _ _ _. </p>
        <p>RECIBIMOS DE _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
        <p> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
        <p> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
        <p> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
      </div>
      <div>
        <div style="padding:0 0 5mm 5mm; text-align:left; font-size:10px; float: left;">
          <p>MONTO: <span style="font-size: 12px;"><b>${{monto}}.-</b></span></p>
        </div>
        <div style="padding:0 5mm 5mm 0; font-size:10px; float: right; text-align:right;">
          <p>FIRMA: _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
        </div>
      </div>
    </td>
  </tr>
</table>
